    <h1 class="mt-4">Gestión Segura de Credenciales</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Protege y gestiona tus credenciales de manera eficiente y segura.</li>
    </ol>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Nuestro proyecto</h5>
        <div>
          <%= link_to "Repositorio Oficial", "https://github.com/esmarti/hpg" %>
          <br>
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Sobre el autor</h5>
        <div>
          <%= link_to "About me", "https://github.com/esmarti" %>
          <br>
        </div>
      </div>
    </div>