<header>
        <div>
            <h1>Gestión Segura de Credenciales</h1>
            <p>Protege y gestiona tus credenciales de manera eficiente</p>
        </div>
    </header>

    <div class="content">
        <h2>Propuesta de este proyecto</h2>
        <p>HPG proporciona una solución centralizada y segura para la gestión de credenciales. Esta herramienta no solo garantizará que las contraseñas estén protegidas y fácilmente accesibles, sino que también implementará mecanismos de control y registros de actividad para asegurar que solo las personas autorizadas tengan acceso a la información. Además, facilitará la comunicación sobre actualizaciones de credenciales y controlará las fechas de caducidad, asegurando que las contraseñas sean seguras y actualizadas. Al adoptar esta solución, reduciremos significativamente el riesgo de brechas de seguridad y mejoraremos la eficiencia en la gestión de credenciales en todos nuestros equipos.</p>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Hive Pass Guard - Universidad de Mendoza</p>
        </div>
    </footer>