    <h1 class="mt-4">Gestión Segura de Credenciales</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Protege y gestiona tus credenciales de manera eficiente</li>
    </ol>
    <div class="content">
        <h2>Propuesta de este proyecto</h2>
        <p>HPG proporciona una solución centralizada y segura para la gestión de credenciales. Esta herramienta no solo garantizará que las contraseñas estén protegidas y fácilmente accesibles, sino que también implementará mecanismos de control y registros de actividad para asegurar que solo las personas autorizadas tengan acceso a la información. Además, facilitará la comunicación sobre actualizaciones de credenciales y controlará las fechas de caducidad, asegurando que las contraseñas sean seguras y actualizadas. Al adoptar esta solución, reduciremos significativamente el riesgo de brechas de seguridad y mejoraremos la eficiencia en la gestión de credenciales en todos nuestros equipos.</p>
    </div>