<div class="grid text-center mt-5">
    <%= image_tag("logo_um.png", size: '100x100', class: "g-col-12", alt: "Logo Universidad de Mendoza.") %>
    <h3>Universidad de Mendoza</h3>
</div>
<br>
<h1 class="mt-4">Descripción del Proyecto HPG</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Proyecto final de grado para la carrera de Ingeniería en Informática.</li>
</ol>
<br>
        <h2>Situación Actual</h2>
        <p>En nuestra empresa, múltiples equipos de ingeniería, como desarrollo, infraestructura, soporte e I+D, manejan diversos entornos informáticos que requieren almacenamiento seguro de credenciales. Sin embargo, actualmente, los usuarios comparten estas contraseñas de manera insegura y llevan registros desordenados, utilizando métodos como papel, hojas de cálculo y mensajes en texto plano. Esto no solo dificulta el acceso rápido a las credenciales correctas, sino que también pone en riesgo la seguridad de la información.</p>

        <h2>Solución Propuesta</h2>
        <p>Nuestro proyecto aborda estos problemas proporcionando una solución centralizada y segura para la gestión de credenciales. Esta herramienta no solo garantizará que las contraseñas estén protegidas y fácilmente accesibles, sino que también implementará mecanismos de control y registros de actividad para asegurar que solo las personas autorizadas tengan acceso a la información. Además, facilitará la comunicación sobre actualizaciones de credenciales y controlará las fechas de caducidad, asegurando que las contraseñas sean seguras y actualizadas. Al adoptar esta solución, reduciremos significativamente el riesgo de brechas de seguridad y mejoraremos la eficiencia en la gestión de credenciales en todos nuestros equipos.</p>


    <%= image_tag("hpg_cloudwords.png", height: '300', alt: "Palabras clave, nube de palabras.", class: "img-fluid", style: "max-width: 85%; height: auto;") %>

<div>
<h1>Puntos más Interesantes del Proyecto</h1>
    <ul>
        <li><strong>Aplicable a diversos equipos de trabajo:</strong>
            <ul>
                <li>Desarrollo, infraestructura, soporte e I+D, todos manejando diferentes credenciales compartidas.</li>
            </ul>
        </li>
        <li><strong>Problema actual con el manejo de credenciales:</strong>
            <ul>
                <li>Compartición insegura de contraseñas (por papel, hojas de cálculo, documentos compartidos, email en texto plano, mensajería).</li>
                <li>Falta de un estándar único para el registro y almacenamiento de credenciales.</li>
                <li>Dificultad para encontrar contraseñas correctas y recurrencia en la petición a colegas.</li>
            </ul>
        </li>
        <li><strong>Riesgos asociados:</strong>
            <ul>
                <li>Acceso no autorizado a credenciales.</li>
                <li>Uso de contraseñas inseguras y reutilización de las mismas.</li>
                <li>Ausencia de documentación adecuada al finalizar proyectos.</li>
            </ul>
        </li>
        <li><strong>Problemas adicionales identificados:</strong>
            <ul>
                <li>Falta de comunicación sobre la actualización de credenciales.</li>
                <li>Información de credenciales desactualizada en todo el equipo.</li>
                <li>Falta de control sobre fechas de caducidad de credenciales.</li>
                <li>Ausencia de mecanismos para controlar el acceso a credenciales.</li>
                <li>Sin registros de actividad (modificaciones y accesos a credenciales).</li>
                <li>No hay un procedimiento claro para la gestión de credenciales cuando un colaborador abandona el equipo.</li>
            </ul>
        </li>
        <li><strong>Propuesta de solución:</strong>
            <ul>
                <li>Implementación de una herramienta centralizada y segura para la gestión de credenciales.</li>
                <li>Garantizar la protección y fácil acceso a contraseñas.</li>
                <li>Mecanismos de control y registros de actividad para asegurar acceso autorizado.</li>
                <li>Facilitar la comunicación sobre actualizaciones de credenciales.</li>
                <li>Controlar fechas de caducidad y asegurar contraseñas seguras y actualizadas.</li>
                <li>Reducción del riesgo de brechas de seguridad y mejora en la eficiencia de gestión de credenciales.</li>
            </ul>
        </li>
    </ul>
</div>