<h1>Credentials</h1>

<div id="credentials">
  <table>
    <tr>
      <th>Team</th>
      <th>Description</th>
      <th>Username</th>
      <th>Password (encrypted)</th>
      <th>Owner</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
    <% @credentials.each do |credential| %>
      <%= render credential %>
    <% end %>
  </table>
</div>
<br>
<%= link_to "New credential", new_user_credential_path(user_id:@user) %>
