<h1 class="mt-4">New credential</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Shared credentials</li>
    <li class="breadcrumb-item active">New</li>
</ol>
<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      New credential form
  </div>
  <div class="card-body">
    <%= render "form", credential: @credential %>
  </div>
</div>
  <%= link_to "Back to credentials", user_credentials_path(user_id:@user), class: "btn btn-info", style: "width: fit-content;" %>