/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* App Layout
Estilo para el cuerpo del documento */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2b48c; /* Marrón claro */
  font-family: Arial, sans-serif;
}

/* Contenedor principal centrado */
.container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Recuadro central */
.content-box {
  background-color: white; /* Color blanco dentro del recuadro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  width: 100%;
  margin: 20px;
  box-sizing: border-box;
}
/*Fin App Layout*/

.sign-image {
  width: 50px;      /* Ancho de la imagen */
  float: left;
  border: none;
  margin-right: 10px;
}

.textArea_key {
  font-family: monospace;
  width: 469px;
  height: 144px;
  readonly;
}

.file-upload {
  background-color: #7f9ccb;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.file-upload:hover {
  background-color: #2d5ba3;
  color: white;
}

.alert {
  color: red  
}

.notice {
  color: green
}