<h1 class="mt-4">Edit Team</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Administrator</li>
</ol>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Team changes:</h5>
    <%= @team.name %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">User affected:</h5>
      <%= render "form", team: @team %>
    <br>
  </div>
</div>
<div>
  <%= link_to "Show team details", admin_team_path(@team), class: "btn btn-primary" %>
  <%= link_to "Back to teams", admin_teams_path, class: "btn btn-info" %>
</div>