<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to "Edit this team", edit_user_team_path(id:@team.id, user_id:@user) %> |
  <%= link_to "Back to teams", user_teams_path(id:@team.id, user_id:@user) %>

  <%#= button_to "Destroy this team", @team, method: :delete %>
</div>
