  <li><%= link_to 'Edit account', edit_user_registration_path, class: "dropdown-item" %></li>
  <li><%= button_to('Logout', destroy_user_session_path, class: "btn dropdown-item", method: :delete, data: { turbo_method: :delete }) %></li>